<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482300009021-0a08g2u8tefp9jo5q4vkllh5e4alqoej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482300009021-0a08g2u8tefp9jo5q4vkllh5e4alqoej</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>482300009021-e4trrc3r3ggbtn6i1suo82hlsb917ig0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDR58HY93MloHT1GmAwgqVpA4SQ_Wwf3GE</string>
	<key>GCM_SENDER_ID</key>
	<string>482300009021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnFirebase</string>
	<key>PROJECT_ID</key>
	<string>anas-firebase-adbf4</string>
	<key>STORAGE_BUCKET</key>
	<string>anas-firebase-adbf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482300009021:ios:e76315b5850d83e055e854</string>
</dict>
</plist>